* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-block: 30px;
}

.container {
  display: flex;
}

.input {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 30px;
  flex:1;
}

form {
  border: black solid 1px;
  width: 500px;
  padding-block: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

form > button {
  width: 100px;
  height: 40px;
  cursor: pointer;
}

form > .csv_export {
  width: 150px;
  height: 70px;
  border-radius: 5px;
}

.output {
  flex: 1;
}